*{
    margin: 0;
    padding: 0;
}

/* css variables */
:root{
    --navbar-height: 59px
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
}

#logo{
    
    margin: 2px 4px;
    filter: invert(100%);
}

#logo img{
    margin: 3px 6px;
    height: 75px;
    width: 75px;
}

#navbar{
    position: fixed;
    align-items: center;
    display: flex;
    top: -4px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: #f2ede7;
    display: block;
    padding: 1px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar::before{
    content: "";
    background-color: rgb(20, 4, 4);
    position: absolute;
    height: 91%;
    width: 100vw;
    z-index: -1;
    opacity: 0.5;
}

#navbar ul li a:hover{
    color:  white;
    background-color:  rgb(54, 6, 6);
}

#home{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 3px 200px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: fixed;
    background: url('foodback.jpg') no-repeat center center/cover;
    height: 100vh;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

.h1primary{
    font-size: 2.8rem;
    padding: 1px;
}

#home h1{
    color: rgb(54, 6, 6);
    text-align: center;
    font-family: 'Trochut', cursive;
    padding-bottom: 30px;
}

#home p{
  color:  rgb(54, 6, 6);
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Trochut', cursive;
  
}
 
.btn{
    padding: 6px 20px;
    background-color:rgb(54, 6, 6) ; 
    border:3px solid rgb(54, 6, 6); 
    color: rgb(250, 248, 248); 
    margin: 12px ;
    font-size: 1.3rem;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover{
    color:rgb(54, 6, 6); 
    background-color: #eee8e8;
    border:3px solid rgb(54, 6, 6) ;
}

.h1-primary-center{
      padding: 12px;
      padding-top: 33px;
      font-size: 3.4rem;
      text-decoration: underline;
      color: rgb(54, 6, 6);
     text-align: center;
     font-family: 'Trochut', cursive;
}

.h2secondary{
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
    font-family: 'Trochut', cursive;
    color: rgb(54, 6, 6) ;
}
.center{
    text-align: center;
}

#services{
    margin: 24px 17px;
    display: flex;
    flex-direction: row;
    /* flex-shrink: ; */
}

#services .box{
    border: 2px solid brown;
    padding: 44px;
    border-radius: 28px;
    margin: 2px 20px;
    background: #f2f2f2;
    margin-bottom: 15px;
    box-shadow: 5px 7px 16px 0px rgb(54 6 6);
}

#services .box img{
    height: 150px;
   margin: auto;
   display: block;
}
.services-container{
    margin-top: 70px;
    background-color: #f2ede7;
   height: 88vh;
}
#services .box p{
    text-align: center;
}

#client-section{
    height: 378px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 99px;
}
.client-item{
    padding: 34px;
}

#contact{
    position: relative;
    height: 95vh;
}
#contact::before{
    content: "";
    position: absolute;
    font-size: 3.8rem;
    height: 95vh;
    width: 100%;
    z-index: -1;
    opacity: 1;
    background: url("contact2.jpg") no-repeat center center/cover;
    
}

#contactus{
    align-items: center;
}

footer{
    background: black;
    color: white;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 100vw;
    bottom: 0px;
    position: static;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px
}

#contact-box,
#contact-box textarea{
    width: 97.5%;
    border-radius: 9px;
    font-size: 1.1rem;
    margin: 5px;
}
.form-input{
    border-radius: 7px;
    text-align: center;
    border: none;
    height: 22px;
    margin: 5px;
}
#contact-box form{
    width: 40%;
    margin-top: 30px;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Trochut', cursive;
}
