body{
    width: auto;
    height: auto;
}

#navbar{
    flex-direction: column;
}  

#navbar ul li a{
    padding: 1px 10px;
    font-size: 12px;
}

#home{
    height: 365px;
    flex-direction: column;
    padding: 1px 64px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}

.btn{
    font-size: 13px;
}

.h1primary{
    font-size: 2.4rem;
}

.h1-primary-center{
    font-size: 2.4rem;
}

#services{
    flex-direction: column;
    margin: 24px 17px;
}

#services .box{
    padding: 15px;
    margin: 17px 14px;
    height: 330px;
}

.services-container{
    margin-top: 27px;
}

#client-section{
    height: 363px;
    background-color: #f2ede7;
}

#clients{
   flex-wrap: wrap;
    margin-top: 70px;
}
#clients img{
    height: 363px;
}

#microsoft img{
    padding: 0px 8px;
    width: auto;
    height: 40px;
}

#skype img{
    padding: 0px 8px;
    width: auto;
    height: 50px;
}

#apple img{
    padding: 0px 8px;
    width: auto;
    height: 60px;
}

#hp img{
    padding: 0px 8px;
    width: auto;
    height: 60px;
}

.client-item{
    padding: 8px;
}

form{
    margin-top: 50px;
}

.center{
    font-size: 12px;
}
